<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script>
        function submit_order(){
            var src = document.getElementById("order_num").value;
            console.log(src);
            window.location = src;
        }

        function import_orders(){
            window.location = "/orders/import";
        }

         function retrieve_orders(){
            window.location = "/orders/";
        }

        function order_detail(){
            window.location = "/order_detail/";
        }

    </script>
</head>
<body>
<div style="{float: left;}">
    <button onclick="import_orders()">Import orders</button>
    <button onclick="retrieve_orders()">Retrieve all</button>
    <button onclick="order_detail()">Order Detail</button>
</div>
<h1>Acme Wine</h1>
    <h2>order retriever</h2>
    <form action="/orders" method="get">
        <label><input type="checkbox" name="checkbox" value="true">Return Valid Orders Only</label></br>
        <input type="submit" value="Retrieve orders">
        <input type="hidden" name="order" value="none">
    </form>
</body>
</html>