<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Import Orders</title>
    <script>
        function submit_order(){
            var src = document.getElementById("order_num").value;
            console.log(src);
            window.location = src;
        }

        function import_orders(){
            window.location = "/orders/import/";
        }

         function retrieve_orders(){
            window.location = "/orders/";
        }

        function order_detail(){
            window.location = "/order_detail/";
        }

    </script>
</head>
<body>
<div style="{float: left;}">
    <button onclick="import_orders()">Import orders</button>
    <button onclick="retrieve_orders()">Retrieve all</button>
    <button onclick="order_detail()">Order Detail</button>
</div>
    <h1>Acme Wine Order Validation</h1>
        <h2>Select a file to upload</h2>
    <form action="orders/import" method=post enctype=multipart/form-data>
      <p>
          <input type=file name=file>
          <input type=submit value=Upload>
      </p>
    </form>
</body>
</html>